body
 {
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    
 }
#card
{
    height: 530px;  
    width: 400px;
    background: #9D50BB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6E48AA, #9D50BB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6E48AA, #9D50BB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    position: absolute;
    margin-top: 60px;
    border-radius: 10px;
    transform: rotate(160deg);
}
#card2
{
    height: 550px!important;
    width: 400px;
    background-color: white;
    position: absolute;
  
    margin-top: 60px;
    border-radius: 10px;
    
}
table tr td
{
    font-size: 14px;
    color: #6441A5;
}
input
{
    
    border-color:#6441A5 ;
    box-shadow: none;
    box-shadow: none;

}
textarea
{
    height: 30px;
    width: 300px;
    border-color:#6441A5 ;  
}
input[type="button"]
{
    height: 40px;
    width: 80px;
    background-color: #6441A5;
    color: white;
    border-radius: 10px;
    border-style: none;
    margin-top: 10px;
}
form .form-control:focus{
    border-color: #65a9ec;
    box-shadow: none;
  }